<h1>Calendar#index</h1>
<div id='calendar' style='margin:3em 0;font-size:13px'></div>

<script type="text/javascript">


setInterval(
     function(){
          $.ajax({
                type: "GET",
                url: "/event/next_event",
                datatype:"json",
                success: function(data){
                  jQuery.each( data, function( i, val ) {
                                    alert(val.event_name+" In 15 minutes");
                                });
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                  values = "";
                              jQuery.each( XMLHttpRequest, function( i, val ) {
                                    values = values + val+"\n"
                                });
                              alert(values);
                              return false;
                          }

              });
     },
     600000  /* 10000 ms = 10 sec */
);

function getDateTime(unix_timestamp)
{
     var a = new Date(unix_timestamp);
     var year = a.getFullYear();
     var month = a.getMonth()+1;
     var date = a.getDate();
     var hour = a.getHours();
     var min = a.getMinutes();
     var sec = a.getSeconds();
     if(month < 10){
      month = '0'+month
     }
     if(date < 10){
      date = '0'+date
     }
     if(hour < 10){
      hour = '0'+hour
     }
     if(min < 10){
      min = '0'+min
     }
     var time = parseInt(year)+'-'+month+'-'+parseInt(date)+' '+hour+':'+min ;
     return time;

}
$(document).ready(function() {

     var today = new Date();
     var yyyy = today.getFullYear();
     var mm = today.getMonth()+1;
     var dd = today.getDate();
     if(mm < 10){
      mm = '0'+mm
     }
     if(dd < 10){
      dd = '0'+dd
     }
     today_date = yyyy+'-'+mm+'-'+dd

    var calendar = $('#calendar').fullCalendar({
      eventSources: [
        {
            url: '/event/',
            type: 'GET',
            error: function() {
                alert('there was an error while fetching events!');
            },
            color: 'yellow',   // a non-ajax option
            backgroundColor : "#1FCB4A",
            textColor: 'black' // a non-ajax option
        }
    ],
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      eventRender: function(event, element) {
            element.attr('title', event.tip);
        },
      defaultView: 'month',
      defaultDate: today_date,
      editable: true,
      selectable: true,
      selectHelper: true,

        select: function(start, end, allDay)
        {
          var title;
          //var title = prompt('Event Title:');
          $('#dialog-form').modal();
          start_date = getDateTime(start+18000000).split(" ")[0];
          start_time = getDateTime(start+18000000).split(" ")[1];
          end_date = getDateTime(end+18000000).split(" ")[0];
          end_time = getDateTime(end+18000000).split(" ")[1];
          repeat_event = "";
          $("#start_only_date").val(start_date);
          $('#start_time').val(start_time);
          $("#end_only_date").val(end_date);
          $('#end_time').val(end_time);
          $('#repeat_event').prop('checked', false);
          $('#repeat_event').click(function(){
              if(this.checked==true)
              {
                $('#edit_event').show();
                $("#repeat_timing").change(function(){
                  repeat_event = this.value;
                });
              }
              else
                $('#edit_event').hide();
          });

          $('#create_event').click(function(){

            title = $('#event_title').val();
            start = $("#start_only_date").val()+" "+$('#start_time').val();
            end = $("#end_only_date").val()+" "+$('#end_time').val();
            $.modal.close();
            calendar.fullCalendar('renderEvent',
              {
                title: $('#event_title').val(),
                start: start,
                end: end
              },
              true // make the event "stick"
            );
            var offset = new Date().getTimezoneOffset();
            var start_date = start;
            var end_date = end;
            dataList = "event_name="+title+"&start_date='"+start_date+"'&end_date='"+end_date+"&repeat_event="+repeat_event+"&event_end='"+$("#event_end").val()+"'";
            var indexes = ""
            var values = ""
            jQuery.each( allDay, function( i, val ) {
              if(i == "buttons"){
                indexes = indexes + i+"\n"
                values = values + val+"\n"
              }
            });
            $.ajax({
                type: "POST",
                url: "/event/",
                data:dataList,
                datatype:"json",
                success: function(data){
                  alert(data.operation);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                              jQuery.each( XMLHttpRequest, function( i, val ) {
                                    indexes = indexes + i+"\n"
                                    values = values + val+"\n"
                                });
                              alert(values);
                              return false;
                          }

              });

          });
          calendar.fullCalendar('unselect');
        },
        buttonText: {
          month: 'month',
          today: 'today'
      },
        axisFormat: 'H(:mm)', //,'h(:mm)tt',
        timeFormat: {
            agenda: 'H(:mm)' //h:mm{ - h:mm}'
            },
      //events: [loaded_events_string]
    });

  });
</script>

<div id="dialog-form" title="Create Event" style="display: none;">
  <input type=text id=event_title  size="30"></input><br/><br/>
  <input type=text id=start_only_date maxlength="20" size="10"></input>
  <input type=text id=start_time maxlength="6" size="6"></input>
  <input type=text id=end_only_date maxlength="20" size="10"></input>
  <input type=text id=end_time maxlength="6" size="6"></input>
  <br/><br/>
  <input type="checkbox" id="repeat_event" false>Repeat
  <div id="edit_event" style="display: none;">
    Repeats: <select id="repeat_timing">
              <option value="None">-- Select --</option>
              <option value="daily">Daily</option>
              <option value="weekly">Weekly</option>
              <option value="monthly">Monthly</option>
              <option value="yearly">Yearly</option>
            </select>
    Ends: <input type=text id="event_end" size="30"></input><br/><br/>


<br/><br/>
  </div>
    <input type=button id="create_event" value="create" ></input>
</div>


